* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: linear-gradient(135deg, #121212, black); ;
}

body{
    color: white;
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Open Sans', sans-serif;
}

.navbar::after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: 1px solid #bdae60; /* Adjust the border style */
    position: absolute;
    top: 100%; /* Position it just after the navbar */
    left: 0;
    z-index: 2; /* Ensure it appears above the intro section */
}