#about {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1.8rem auto;
    background: transparent;
    margin-bottom: 6rem;

}


.aboutTitle {
    font-size: 3rem;
    color: lightgray;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    background: transparent;
}
.aboutContainer{
    display: flex; /* Use flexbox to control positioning */
    align-items: center; /* Vertically align content */
    justify-content: space-between; /* Place content at the ends */
    height: 60vh;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: transparent;
}
.aboutContent {
    flex: 1; /* Allow content to take available space */
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
    color: lightgray;
    background: transparent;
    margin-right: 6rem;
}

.aboutPic {
    object-fit: cover;
    height: 50vh;
    width: auto; /* Adding width to ensure responsiveness */
    border-radius: 15px;
    box-shadow: 0 0 10px #838174; /* Adding a subtle shadow */
    border: 2.5px solid #bdae60; 
}

.aboutPara {
    font-size:medium;
    font-weight: 100;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 1rem;
    color: lightgray;
    width: 30rem;
    max-width: 30rem; /* Set a max-width instead of width */

}