.navbar {
    height: 6rem;
    width: 100vw;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top: 0;
    z-index: 3;
    
    
}
.menu{
    background: transparent;
}

.logo {
    object-fit:contain;
    height: 6rem;
    width: 7rem;
    background: transparent;

}
.menuListItem{
    margin: 1rem;
    cursor: pointer;
    color: lightgray;
    background: transparent;
}

.menuListItem:hover{
    color: #bdae60;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #bdae60;
}

.menuBtn {
    background: lightgray;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    margin: 1rem;
    cursor: pointer;
}

.menuBtnImg{
    object-fit:contain;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
    background: none;
}

.mailLink {
    background: transparent;
}

@media (max-width: 425px) {
    .navbar {
        padding: 1rem; /* Adjust overall padding for smaller screens */
    }

    .logo {
        /* Adjust logo styles for smaller screens */
        width: auto; /* Allow the logo to shrink as necessary */
        max-width: 100%; /* Ensure the logo doesn't overflow */
        margin-right: auto; /* Push the logo to the left */
    }

    .menu {
        /* Adjust menu styles for smaller screens */
        margin-left: auto; /* Push the menu links to the right */
    }

    /* Optionally, adjust styles for menu links */
    .menuListItem {
        margin: 0 0.5rem; /* Add or reduce spacing between menu items */
    }
}