

#intro {
    display: flex; /* Use flexbox to control positioning */
    align-items: center; /* Vertically align content */
    justify-content: space-between; /* Place content at the ends */
    height: 80vh;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: transparent;
    /* box-shadow: 0 0 15px #838174; /* Adding a subtle shadow 
    border: 1px groove #bdae60;  */
    
}

.profilePic {
    object-fit: cover;
    height: 50vh;
    width: auto; /* Adding width to ensure responsiveness */
    border-radius: 15px;
    margin-right: 6rem;
    box-shadow: 0 0 10px #838174; /* Adding a subtle shadow */
    border: 2.5px solid #bdae60; 
}

.introContent {
    flex: 1; /* Allow content to take available space */
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
    color: lightgray;
    background: transparent;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
    background: transparent;
}

.introName {
    color: #bdae60;
    background: transparent;

}
.introPara {
    font-size:large;
    font-weight: 100;
    background: transparent;
}

.introText {
    background: transparent;
}
.title{
    background: transparent;
}

.hireBtn {
    background: lightgray;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.8rem; /* Adjusted padding for smaller size */
    border-radius: 1rem; /* Smaller border radius */
    margin: 0.5rem 0.2rem 0.5rem 0; /* Adjusted margins (top, right, bottom, left) */
    cursor: pointer;
    font-size: 0.9rem; /* Smaller font size */
}

.hireBtnImg {
    object-fit: contain;
    height: 0.6rem; /* Adjusted height for the image */
    width: 0.6rem; /* Adjusted width for the image */
    margin-right: 0.3rem; /* Adjusted margin */
    background: none; /* Reset background */
}

@media screen and (max-width:425px) {

    #intro {
        /* Adjust styles for smaller screens */
        padding: 1rem; /* Example adjustment for padding */
        font-size: 1.5rem; /* Example adjustment for font size */
        /* Add other necessary adjustments */
    }

    .profilePic {
        height: 30vh; /* Adjusted height for the profile picture on smaller screens */
        /* Add other necessary adjustments */
    }

    .introContent {
        /* Adjust styles for content on smaller screens */
        font-size: 1.2rem; /* Example adjustment for font size */
        /* Add other necessary adjustments */
    }

}
